*, ::after, ::before {
  box-sizing: border-box;
}


.notepage {
  background: yellow;
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;;
  min-height: 600px;
}

.title {
  height: 30px;
  width: 550px;
  /* postion:relative;
  left: 10px; */
  justify-content: center;
  text-align: left;
  border: 1px solid black;
  border-radius: 10px;
  color: green;
  padding: 0px;
  background: white;
}
.noteinfo {
  text-align: left;
  /* position: relative;
  bottom: -50px;
  left: -350px; */
  height: 400px;
  width: 500px;
  border: 1px solid black;
  padding: 20px;
}

.Tags {
  min-height: 100px;
  min-width: 500px;
  border: 1px solid black;
}

.Edit {
  position: relative;
  left: 80px;
  top: -40px;
}
.Edit:hover {
  cursor: pointer;
}
.delete {
  color: blue;
  /* position: relative;
  bottom: -400px; */
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  /* bottom: 00px;
  left: 00px */
}

.delete:hover {
  cursor: pointer;
  /* position: relative;
  bottom: -195px; */
  transition: all 0.2s ease-out;
}