
.container {
  display: flex;
  overflow: scroll;
  /* position: relative; */
  /* left: -200px; */
  width: 100%;
}

.Noteslist {
  display: flex;
  flex-wrap: wrap;
  /* position: relative; */
  width: 100%;
  /* left: -200px; */
  flex-direction:row;
  /* background-color: #2196F3; */
  /* border: 1px solid black;
  border-radius: 50px; */
  padding-top: 10px;
}

.noteitem {
  padding: 20px;
}

.Newnote {
  /* display: flex; */
  position: relative;
  background:lightcoral;
  align-items: center;
  left: 1600px;
  top: 100px;
  /* background: yellow; */
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.Newnote:hover {
  cursor: pointer;
  position: relative;
  bottom: 10px;
  transition: all 0.1 s ease-out;
}
